:root{
    --primary-color : #fe206e;
    --mainfont:"Open Sans", sans-serif;
}

body{
    font-family: var(--mainfont);
}

.navbar .nav-link{
    color: #edebeb;
}

.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.show {
    color: var(--primary-color);
}

.hero{
    background-image: url("/assets/images/me.jpg");
    background-size: cover;
}

.text-primary{
    color: var(--primary-color) !important;
}

.about,.protofolio{
    background-image: url("/assets/images/light_dot.jpg");
}

.protofolio .nav-tabs .nav-item.show .nav-link,
.protofolio .nav-tabs .nav-link.active {
    color: var(--primary-color);
}

.protofolio .nav-tabs .nav-link {
    color: #000;
}
.protofolio .nav-link {
   border: none;
}
.protofolio .nav-tabs{
    border-bottom: none;
}