:root{
    --primary-color : #fe206e;
    --mainfont:"Open Sans", sans-serif;
}


@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1190px;
    }
  }

@media (min-width: 1400px) { 
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: 1395px;
    }
 }

body{
    font-family: var(--mainfont);
}

.navbar .nav-link{
    color: #edebeb;
}

.navbar .navbar-nav .nav-link.active,.navbar .navbar-nav .nav-link.show {
    color: var(--primary-color);
}

.hero{
    background-image: url("/assets/images/me.jpg");
    background-size: cover;
}

.slider .carousel-indicators [data-bs-target]{
    background-color: var(--primary-color);
    height: 30px;
    border-radius: 50%;
}

.text-primary{
    color: var(--primary-color) !important;
}

.about,.protofolio{
    background-image: url("/assets/images/light_dot.jpg");
}

.protofolio .nav-tabs .nav-item.show .nav-link,
.protofolio .nav-tabs .nav-link.active {
    color: var(--primary-color);
}

.protofolio .nav-tabs .nav-link {
    color: #000;
}
.protofolio .nav-link {
   border: none;
}
.protofolio .nav-tabs{
    border-bottom: none;
}